# Backend Config
DATABASE_URL=postgresql://hoppscotch:hoppscotchpass@pg:5432/hoppscotchdb
DATA_ENCRYPTION_KEY=your32characterlongsecretkey1234
WHITELISTED_ORIGINS=http://localhost:3170,http://localhost:3000,http://localhost:3100,app://localhost_3200,app://hoppscotch

# (Optional) If you want to change the AIO container’s exposed endpoint port when using subpath access
# HOPP_AIO_ALTERNATE_PORT=80

# Frontend Config
VITE_BASE_URL=http://localhost:3000
VITE_SHORTCODE_BASE_URL=http://localhost:3000
VITE_ADMIN_URL=http://localhost:3100

VITE_BACKEND_GQL_URL=http://localhost:3170/graphql
VITE_BACKEND_WS_URL=ws://localhost:3170/graphql
VITE_BACKEND_API_URL=http://localhost:3170/v1

VITE_APP_TOS_LINK=https://docs.hoppscotch.io/support/terms
VITE_APP_PRIVACY_POLICY_LINK=https://docs.hoppscotch.io/support/privacy

# Desktop app support
ENABLE_SUBPATH_BASED_ACCESS=false

MAILER_SMTP_ENABLE=true
MAILER_USE_CUSTOM_CONFIGS=false
MAILER_ADDRESS_FROM=from@example.com
MAILER_SMTP_URL=smtp://mail:1025
